<div class="container" style= "justify-content: center">
  <h2><%= @companion.user.first_name %> is available for booking.</h2>
  <div class="col-12 col-md-4 col-xl-3">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://source.unsplash.com/random/?adult?face" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= @companion.user.first_name %></h5>
      <p class="card-text"><%= @companion.description %></p>
      <p class="card-text">$<%= @companion.price %> per day</p>
      <%= simple_form_for [ @companion, @booking ] do |f| %>
      <%= f.input :date, label: 'Enter date', as: :date, html5: true %>
      <%= f.submit "Submit booking", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
