<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>Edit User</h1>
      <%= form_for @user do |form| %>
        <%= form.text_field :first_name %>
        <%= form.text_field :last_name %>
        <%= form.fields_for :companion, include_id: false do |companion_subform| %>
          <%= companion_subform.text_field :description %>
          <%= companion_subform.text_field :price %>
        <% end %>
        <%= form.submit %>
      <% end %>
    </div>
  </div>
</div>
