<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h2>Do you want to become a Companion? click Yes if you want, click No otherwise</h2>
      <%= simple_form_for(@companion) do |f| %>
        <%= f.input :description%>
        <%= f.input :price %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit 'Yes, become a companion' %>
      <% end %>
      <div class="pt-3">
          <%= link_to "No, I'm looking for companion", companions_path, class: "btn btn-primary"%>
      </div>
    </div>

  </div>
</div>
