<h1>I'm in Index Page for companions!@</h1>
<div class="container">
  <div class="row">
  <%= render @companions %>
  </div>
</div>



<% require 'pry-byebug' %>
<div class="col-12 col-md-4 col-xl-3">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="http://placekitten.com/286/180" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= companion.user.first_name %></h5>
      <p class="card-text"><%= companion.description %></p>
      <a href="#" class="btn btn-primary">go somewhere </a>
      <%= link_to 'More info', companion_path(companion) %>
    </div>
  </div>
</div>



<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our Companions</h1>
    </div>
  </div>

  <div class="row">
    <% @companions.each do |comp| %>
      <div class="col-4">
        <div class="flat-card">
          <div class="flat-card-image" style="background-image: url('http://placekitten.com/286/180')"></div>
          <div class="flat-card-content">
            <div class="flat-card-title">
              <h4><%= comp.price %></h4>
            </div>
            <p><%= comp.price %></p>
            <div class="flex">
              <div class="flex">
                <i class="material-icons mr-2">people</i><span><%= comp.price %></span>
              </div>
              <div class="flex ml-3">
                <i class="material-icons mr-2">euro_symbol</i> <%= comp.price %>
              </div>
            </div>
          </div>
          <div class="flat-card-actions">
            <%= link_to 'More info', companion_path(comp) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
